include ../mixins/_statCard

.card
  .row
    +statCard('Earnings', '$22,500', '19% compared to last week', 'dollar')
    +statCard('Sales', '$500', '19% compared to last week', 'bar-chart-o')
    +statCard('Orders', '215', '19% compared to last week', 'shopping-cart')
    +statCard('Reviews', '$22,500', '19% compared to last week', 'thumbs-up')