// FOOTER
footer#footer2.footer2
  .container
    .row
      .col-md-12.footerP.text-center
        a(href='#') Register
        a(href='#') Forum
        a(href='#') Affiliate
        a(href='#') FAQ
      .footer-social.space30.text-center
        a.fa.fa-facebook(href='#')
        a.fa.fa-twitter(href='#')
        a.fa.fa-youtube(href='#')
        a.fa.fa-dribbble(href='#')
        a.fa.fa-linkedin(href='#')
        a.fa.fa-instagram(href='#')

    // Copyright
    .footer-copy
      .container
        | &copy; 2019. FoodVendor. All rights reserved.