extends base

block content
  main.main.main-pt
    #explore.elements-content
      .container
        .row
          .col-md-4
            .card.card-product
              .img-wrap
                img(src='img/foods/01.jpg' alt='img')
              .info-wrap
                h4.title Rainbow Vegetable Sandwich
                p.desc Time: 15 - 20 Minutes | Serves: 1
                .price-wrap.h3
                  span.price-new $10.50
                  del.price-old $11.70
              .bottom-wrap
                a.btn.btn-sm.btn-primary.float-right(href='' data-toggle='modal' data-target='#modalContactForm') Order Now
          .col-md-4
            .card.card-product
              .img-wrap
                img(src='img/foods/02.jpg' alt='img')
              .info-wrap
                h4.title Vegetarian Burger
                p.desc Time: 30 - 45 Minutes | Serves: 1
                .price-wrap.h3
                  span.price-new $9.20
                  del.price-old $10.50
              .bottom-wrap
                a.btn.btn-sm.btn-primary.float-right(href='' data-toggle='modal' data-target='#modalContactForm') Order Now
          .col-md-4
            .card.card-product
              .img-wrap
                img(src='img/foods/03.jpg' alt='img')
              .info-wrap
                h4.title Raspberry Stuffed French Toast
                p.desc Time: 10 - 15 Minutes | Serves: 1
                .price-wrap.h3
                  span.price-new $12.50
                  del.price-old $13.20
              .bottom-wrap
                a.btn.btn-sm.btn-primary.float-right(href='' data-toggle='modal' data-target='#modalContactForm') Order Now
    .space100
    